// Variables
$primary-color: #3498db;
$accent-color: #e74c3c;

.movie-list,
.show-list {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

  h2 {
    color: $primary-color;
    margin-bottom: 20px;
  }

  .movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
}

.movie-wrapper {
  background-color: #f4f4f4;
  padding: 20px;

  .swiper-container {
    width: 100%;
    height: 300px; // Adjust the height as needed
    margin-top: 20px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #ddd; // Adjust the background color as needed
    border-radius: 8px;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    .swiper-pagination-bullet {
      background-color: $primary-color;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: $accent-color; // Adjust the background color as needed
    color: #fff; // Adjust the text color as needed
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }
}
